<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/penguinLogo2.svg">
  <title>Meta Gear Solid</title>
  <!--LIBRARIES-->
  <script src="/static/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>
